.episodeCardWrapper {
  border: 1px solid var(--color-accent-purple);
  border-radius: 2px;
  margin: 16px 0;
  background-color: var(--color-base-blue);
  padding: 2px;
  transform: skewX(-1deg) skewY(-.5deg);
}

.episodeCard {
  background-color: var(--color-base-white);
  box-shadow: var(--base-box-shadow);
  display: flex;
  border: 1px solid var(--color-accent-purple);
  border-radius: 4px;
  align-items: center;
  padding: 4px;
  margin: 2px -5px;
  z-index: 1;
  background-color: white;
  transform: skewX(1deg) skewY(.5deg);
  min-height: 125px;
}

.episodeCardInternals {
  display: flex;
  align-items: center;
  padding: 4px;
}

.episodeTitle {
  font-size: 1.25em;
  text-decoration: underline;
  margin-bottom: 8px;
}

.episodeDate {
  font-size: 1.25em;
  width: 50%;
  word-wrap: break-word;
  line-height: 1.25em;
  padding: 8px;
}


@media (min-width: 675px) {
  .episodeDate {
    width: 25%;
  }
}

@media (min-width: 850px) {

}

@media (min-width: 1200px) {

}
