/*
TODO: Add a 1200px content wrapper
*/

.footer {
  border-top: 2px solid var(--color-accent-blue);
  background-color: var(--color-base-white);
  color: var(--color-base-blue);
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px
}
