html {
  --base-color-pink: #f7b4a7;
  --base-color-blue: #104284;
  --base-color-light-blue: #3c6ca4;
  --base-color-teal: #94ddde;
  --base-color-black: #143c3c;
  --base-color-light-teal: #befdff;

  --base-x-padding: 0 32px;
}


* {
  box-sizing: border-box;
}


/* ensuring a 100% height page */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

/* ensuring a flexible layout  height */
div#__next {
  display: flex;
  flex-direction: column;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}




ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

