* {
  box-sizing: border-box;
}


/* ensuring a 100% height page */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

/* ensuring a flexible layout  height*/
div#__next {
  display: flex;
  flex-direction: column;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}




ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

