@font-face {
  font-family: 'norwester';
  src: url('/fonts/norwester.otf');
 }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  ****************
  * END CSS RESET
  ****************
**/


html {
  --base-x-padding: 0 16px;

  --color-accent-pink: #f7b4a7;
  --color-accent-purple: #170A91;
  --color-accent-teal: #0A8C91;
  --color-accent-blue: #0B249C;
  --color-base-blue: #104285;
  --color-base-teal: #93DDDE;
  --color-base-white: #fff;

  font-size: 16px;
}

h1, h2, h3 {
  font-family: norwester;
  font-size: 1.5em;
  margin: 4px 0;
}



* {
  box-sizing: border-box;
}




/* ensuring a 100% height page */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

/* ensuring a flexible layout  height */
div#__next {
  display: flex;
  flex-direction: column;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}




ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


audio::-webkit-media-controls-panel {
  background-color: var(--color-base-blue);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


