.Header {
  padding: var(--base-x-padding);
  border-bottom: 2px solid var(--color-accent-blue);
  background-color: var(--color-base-white);
  color: var(--color-base-blue);
  padding: 6px 16px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.HeaderLinks {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: flex-end;
}

.HeaderLink {
  display: flex;
  align-items: center;
}

.HeaderHome {
  height: 30px;
  width: 30px;
  fill: var(--color-base-blue);
}

.HeaderLink:hover {
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 350ms;
  -webkit-animation-duration: 350ms;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(6deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 1200px) {
  .HeaderContainer {
    padding: 0 14px;
  }
}
