.Header {
  padding: var(--base-x-padding);
  padding-top: 8px;
  padding-bottom: 8px;
}

.HeaderLinks {
  display: flex;
}

.HeaderLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderLink:first-child {
  margin-left: 0;
}
