.Hero {
  background-color: var(--color-base-white);
  padding: 16px;
  margin: 16px 0;
  border-radius: 4px;
  box-shadow:
              0 2px 4px rgba(16, 66, 133, .1),
              0 4px 8px rgba(16, 66, 133, .1),
              0 8px 16px rgba(16, 66, 133, .1);
}

.HeroSubmit {
  border: 1px solid var(--color-accent-purple);
  padding: 4px 8px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin: 2px -5px;
  z-index: 2;
  background-color: var(--color-base-white);
}


.HeroSubmitWrapper {
  border: 1px solid var(--color-accent-purple);
  margin: 8px 0;
  border-radius: 4px;
  background-color: var(--color-base-blue);
}

.HeroFriend {
  display: flex;
  border: 1px solid var(--color-accent-purple);
  border-radius: 4px;
  align-items: center;
  padding: 4px;
  margin: 2px -5px;
  z-index: 1;
  background-color: white;
}

.HeroFriendWrapper {
  border: 1px solid var(--color-accent-purple);
  border-radius: 2px;
  margin: 8px 0;
  background-color: var(--color-base-blue);
}

.HeroImage {
  border-radius: 50%;
  max-height: 75px;
  max-width: 75px;
  border: 2px solid var(--color-accent-blue);
  margin: 4px;
}

.HeroTitle {
  font-size: 2em;
  font-weight: 800;
  margin: 16px 0;
}

.HeroTitleText {
  margin: 16px 0;
}

.HeroLine {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  height: 1.75em;

  margin: 16px 0;
}

.HeroLine:before {
  content: "";
  background: linear-gradient(to right, var(--color-base-blue), var(--color-base-blue), transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.HeroLine:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding-right: 0.5em;
  line-height: 1.25em;
  color: var(--color-base-blue);
  font-size: 1.25em;
  background-color: #fcfcfa;
}
