.hero {
  padding: 16px;
  margin: 16px 0;
  border-radius: 4px;
  background-color: var(--color-base-white);
  box-shadow:
              0 2px 4px rgba(16, 66, 133, .1),
              0 4px 8px rgba(16, 66, 133, .1),
              0 8px 16px rgba(16, 66, 133, .1);
}

.link {
  border: 1px solid var(--color-accent-purple);
  padding: 4px 8px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin: 2px -5px;
  z-index: 2;
  background-color: var(--color-base-white);
  transform: skewX(.5deg) skewY(.5deg);
}


.linkWrapper {
  border: 1px solid var(--color-accent-purple);
  margin: 8px 0;
  border-radius: 4px;
  background-color: var(--color-base-blue);
}

.logo {
  display: none;
}


.title {
  font-size: 2em;
  font-weight: 800;
  margin: 16px 0;
}

.subtitle {
  margin: 16px 0;
}


.profileCard {
  display: flex;
  border: 1px solid var(--color-accent-purple);
  border-radius: 4px;
  align-items: center;
  padding: 4px;
  margin: 2px -5px;
  z-index: 1;
  background-color: white;
  transform: skewX(-.5deg) skewY(-.5deg);
}

.profileCardWrapper {
  border: 1px solid var(--color-accent-purple);
  border-radius: 2px;
  margin: 8px 0;
  background-color: var(--color-base-blue);
}

.avatar {
  border-radius: 50%;
  max-height: 75px;
  max-width: 75px;
  border: 2px solid var(--color-accent-blue);
  margin: 4px 16px 4px 4px;
}

.lineBreak {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  height: 1.5em;
  margin: 16px 0;
}

.lineBreak:before {
  content: "";
  background: linear-gradient(to right, var(--color-base-blue), var(--color-base-blue), transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}

.lineBreak:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding-right: 0.5em;
  line-height: 1em;
  color: var(--color-base-blue);
  font-size: .75em;
  background-color: #fcfcfa;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid var(--color-base-blue);
  border-left: none;
  padding: 4px;
}

@media (min-width: 850px) {
  .hero {
    display: flex;
  }

  .logo {
    display: block;
    margin-right: 16px;
  }

  .title {
    margin-top: 0;
  }

  .profileCardWrapper:last-child {
    margin-bottom: 0;
  }

  .profileCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .lineBreak:last-of-type {
    display: none;
  }

  .linkWrapper {
    display: none;
  }

  .rightRail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .profileCardsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .profileCardWrapper {
    margin: 0;
  }

  .logo > span {
    max-height: 300px;
  }

  .logo {
    max-width: 300px;
  }
}
