.logoBanner {
  min-height: 150px;
  background-color: var(--color-base-blue);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.titleWrapper {
  margin-left: 16px
}

.logoTitle {
  font-weight: 800;
  color: var(--color-base-white);
}

.subtitle {
  color: var(--color-base-teal);
}

.logoWrapper {
    position: relative;
    top: 25px;
    overflow: hidden;
}


/* @media (min-width: 700px) {

}

@media (min-width: 850px) {

}

@media (min-width: 1200px) {

} */
