.logoBanner {
  min-height: 150px;
  background-color: var(--color-base-blue);
  overflow: hidden;
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.titleWrapper {
  margin-left: 16px
}

.logoTitle {
  font-weight: 800;
  color: var(--color-base-white);
}

.subtitle {
  color: var(--color-base-teal);
}

.logoWrapper {
  position: relative;
  top: 40px;
  left: 20px;
  overflow: hidden;
}

.laptopLogo {
  height: 8em;
}

@media (min-width: 400px) {
  .laptopLogo {
    height: 12em;
  }
}


@media (min-width: 700px) {
  .laptopLogo {
    height: 14em;
  }
}
