.suggestionsCard {
  padding: 16px;
  margin: 16px 0;
  border-radius: 4px;
  background-color: var(--color-base-white);
  box-shadow: var(--base-box-shadow);
}

@media (min-width: 900px) {
  .suggestionsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
